<div class='container'>

  <h3>Welcome to our site to retrieve Tweets from Twitter users</h3>


<form method='get' action='/username'>
  Username: <Input type='text' name='name'><br>
  Count:  <Input type='text' name='count'><br>
  <button>Submit</button>
</form><br/>

</div>