<div class='container'>

  <h3>Welcome to our site to retrieve Tweets from Twitter users</h3>


<form method='get' action='/send_tweets'>
  Username: <Input type='text' name='username' placeholder = 'username'><br>
  Tweet: <textarea id="content" name='tweets' placeholder='tweets'></textarea><br><br>
  <button>Submit</button>
</form><br/>

</div>