<div class='container'>

  <h1>Welcome to our site</h1>


<form method='get' action='/username'>
  Username: <Input type='text' name='name'><br>
  Count:  <Input type='text' name='count'><br>
  <button>Submit</button>
</form><br/>

</div>